html
	head
		style
			include style.css
	body
		h1 Search for a user
		br
		br
		form(
		action='/add'
		method='post'
		)
			input(
				type='search'
				name='firstName'
				)
			input(
				type='submit'
				value='Sumbit'
				)
		br
		br
		a(href='addUser') Add a user
		br
		br
		a(href='users') Show all users in the database
