html
	head
		script(type="text/javascript" src='/jquery-3.1.1.min.js')
		script(type="text/javascript" src='/main.js')
		style
			include style.css
	body
		h1 Search for a user
		br
		br
		form(
		method='post'
		id='searchForm'
		action='/add'
		autocomplete='off'
		)
			input#inputContent(
				type='text'
				name='name'
				list='users'
				)
			datalist#users
			input(
			type='submit'
			value='Search'
			)
		br
		br
		a(href='addUser') Add a user
		br
		br
		a(href='users') Show all users in the database
		br
		br