html
	include includes/head.pug
	body
		br
		h1 Write your lovely message
		br
		br
		form.container(
		method='post'
		id='storeMessage'
		action='/add'
		autocomplete='off'
		)
			input(
			type="text"
			name="title"
			id="Title"
			)
			label(for="Title") Title
			br
			br
			p Write your message:
			textarea(
			name="message"
			rows="50"
			cols="10"
			)
			br
			br
			input(
			type='submit'
			value='Send'
			)
		br
		br
		br
		br
	include includes/footer.pug