html
	head
	body
		h1 Write your lovely message
		br
		form(
		method='post'
		id='storeMessage'
		action='/add'
		autocomplete='off'
		)
			p Title:
			input(
			type="text"
			name="title"
			)
			br
			br
			p Write your message:
			textarea(
			name="message"
			rows="15"
			cols="80"
			)
			br
			br
			input(
			type='submit'
			value='Send'
			)
		br
		br
		a(href='showMessages') Display Guestbook